.container1{
  display: flex;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blink {
  animation: blink 1s infinite;
  color: red;
  text-align: center;
  font-size: 50px;
  margin: 0;

}

@keyframes blink {
  50% {
    opacity: 0;
  }
}